grant {
        permission jdk.dio.DeviceMgmtPermission "*:*", "open";
        permission jdk.dio.gpio.GPIOPinPermission "*:*", "open,setdirection";
        permission jdk.dio.spibus.SPIPermission "*:*";
        permission jdk.dio.uart.UARTPermission "*:*", "open";
};
